
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&family=Open+Sans:wght@300;700&display=swap');

body{
    background-color: #fcfbfb;
    font-family: 'Mali', 'Open Sans', sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(20,30,13, .7);
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #aabd8c;
    color: yellow;
}

.home-title{
    color:aqua;
    font-family: 'Mali', 'Open Sans', sans-serif; 
    font-size: 2em;
    margin-top: 10px;

}

#hero-img{
    width: 100%;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

h2{
    margin: 0;
}

h4{
    color: #000;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#background{
    height: 725px;
}

.book, .join{
    background-color: #396E94;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;

}

.book:hover, .join:hover{
    background-color: #ede7a3;
    color: #396E94;
    margin-top: 50px;
}

#background{
    background-color: antiquewhite;
}

.msg{
    background-color: bisque;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color:#000;
    font-family: 'Mali', 'Open Sans', sans-serif; 
}

.msg p{
    color: #000;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: solid 10px black;
}

footer{
    background-color: #396E94;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: #ede7a3;
    text-decoration: none;
}

footer a:hover{
    color: #ede7a3;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}   