
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&family=Open+Sans:wght@300;700&display=swap');

body{
    background-color: #fcfbfb;
    font-family: 'Mali', 'Open Sans', sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(27, 242, 235, 0.123);
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap:100px;
    padding: 0 80px;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 77px;
}

#logo_link{
    padding-top: 5px;

    justify-self: center;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    align-self: end;
    font-size: 20px;
    transition: 0.4s;
}

nav a:hover{
    background-color: #0483ba;
    color: rgb(255, 255, 255);
}

.home-title{
    color:rgb(109, 176, 207);
    font-family: 'Mali', 'Open Sans', sans-serif; 
    font-size: 3.8em;
    margin: 10px 0;
    padding: 0;

}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -111px; 
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 200px;
}

#hero-msg h4{
    color: white;
    font-size: 1.5em;
    font-family: 'Open Sans';
    margin: 15px 15px 44px 15px;

}


#hero-msg h1, #hero-msg h4{
    text-align: center;
}

h2{
    margin: 0;
}

h4{
    color: #000;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.book, .join{
    background-color: rgb(231, 216, 181);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #5b4431;
    margin: 20px;
}

.mainbutton{
    font-size: 25px;
    color: white;
/*     background-color: rgb(207, 102, 22); */
    background: linear-gradient(0deg, rgba(180,145,70,0.86) 0%, rgba(184,123,26,1) 47%); 
    
/*     background: radial-gradient(circle, rgba(253,137,45,1) 0%, rgba(180,145,70,1) 100%);
 */ box-shadow: 5px 3px 10px #1e2116;
    transition: 0.5s;

}

.book:hover, .join:hover{
    background-color: rgb(234, 217, 169);
    
    margin-top: 50px;
    color: rgb(184, 123, 26);
    font-weight: bolder;
    transition: 0.5s;
}

.mainbutton:hover{
    color: white;
    font-size: 25.5px;
}

#background{
    background-color: #A59D6B61;
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: linear-gradient(0deg, rgba(255,255,255,0.7859476554293592) 0%, rgba(70,176,180,0.44981320164784666) 32%, rgba(255,255,255,1) 79%);    
    padding-bottom: 200px;
}

.msg{
    background-color: rgb(184, 123, 26);;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2{
    color: white;
    font-family: 'Mali', 'Open Sans', sans-serif; 
}

.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: solid 10px rgb(101, 73, 27);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.cards-title{
    color: rgb(47, 29, 1);
}

             

footer{
    background-color: rgba(109, 176, 207, 0.049);
    color: rgb(138, 85, 1);
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: rgb(138, 85, 1);
    text-decoration: none;
}

footer a:hover{
    color: #c67417;
}

footer p{
    font-size: .9em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    height: 50px;
    
    padding-top: 15px;
}   


/* Media Queries */


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
        position: relative;
    }
    nav, footer {
        flex-direction: column;

    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: -250px;
        z-index: -1;
    }
    #hero-msg {
        margin-top: 0;
    }

        .home-title {
        font-size: 3em;
        color: rgb(109, 176, 207);
    }

    #hero-msg h4{
    color: rgb(47, 29, 1);
}

    .home-grid{
        margin-top: 142px;
    }

    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            